body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#date-time {
  font-size: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
}

.input-field {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.25em;
}

input[type="number"],
select {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Add this line */
}

select {
  -webkit-appearance: none; /* Add this line */
  -moz-appearance: none; /* Add this line */
  appearance: none; /* Add this line */
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  min-width: 200px;
}

button:hover {
  background-color: #45a049;
}
